
body{


}

h1 {
    color: darkblue;
font-size: 30px;
font-style: italic;
font-family: "Comic Sans MS";
}
{
    color: darkblue;
}

.score {
    color: gray;
}

.gold {
    color: gold;
}
#gameLink {
    text-align: center;
}
.deepPink{
  color: crimson;
  font-size: 20px;
}
